<input type="checkbox" id="short">
<span>START - AAA</span><label for="short">short: </label>
<span                    >         |- 0 - BBB
</span><span             >         |        |- 0 - CCC (win)
</span><span             >         |        |- 1 - ABC
</span><span             >         |        |        |- 0 - CCB (win)
</span><span             >         |        |        |- 1 - BCC (win)
</span><span             >         |        |        |- 2 - CBC (win)
</span><span class="full">         |        |
</span><span             >         |        |- 2 - ABC
</span><span             >         |        |        |- 0 - BCB (win)
</span><span             >         |        |        |- 1 - CBB (win)
</span><span             >         |        |        |- 2 - BBC (win)
</span><span class="full">         |        |
</span><span class="full">         |        |- 3 - (win)
</span><span class="full">         |
</span><span             >         |- 1 - AAB
</span><span             >         |        |- 0 - BBA
</span><span             >         |        |        |- 1 - CCA (win)
</span><span             >         |        |        |- 2 - BCA
</span><span             >         |        |        |        |- 1 - CBA (win)
</span><span class="full">         |        |        |        |- 3 - (win)
</span><span class="full">         |        |        |
</span><span class="full">         |        |        |- 3 - (win)
</span><span class="full">         |        |
</span><span             >         |        |- 1 - ABC
</span><span             >         |        |        |- 1 - CAC
</span><span             >         |        |        |        |- 2 - BAC (win)
</span><span class="full">         |        |        |        |- 3 - (win)
</span><span class="full">         |        |        |
</span><span             >         |        |        |- 2 - ACC (win)
</span><span class="full">         |        |        |- 3 - (win)
</span><span class="full">         |        |
</span><span             >         |        |- 2 - ABB
</span><span             >         |                |- 1 - BAB
</span><span             >         |                |        |- 2 - CAB (win)
</span><span class="full">         |                |        |- 3 - (win)
</span><span class="full">         |                |
</span><span             >         |                |- 2 - ACB (win)
</span><span class="full">         |                |- 3 - (win)
</span><span class="full">         |
</span><span             >         |- 2 - ABC
</span><span             >         |        |- 0 - BAA
</span><span             >         |        |        |- 2 - CAA (win)
</span><span class="full">         |        |        |- 3 - (win)
</span><span class="full">         |        |
</span><span             >         |        |- 1 - AAB
</span><span             >         |        |        |- 1 - ACA (win)
</span><span class="full">         |        |        |- 3 - (win)
</span><span class="full">         |        |
</span><span             >         |        |- 2 - AAC
</span><span             >         |                |- 1 - ABA (win)
</span><span class="full">         |                |- 3 - (win)
</span><span class="full">         |
</span><span class="full">         |- 3 - (win)
</span><span class="full">END</span>
