:host {
    display: flex;
    align-items: center;
}

a, a:hover, a:visited, a:focus, a:active  {
    text-decoration: none;
    color: inherit;
    outline: 0;
    cursor: auto;
}

.active, :not(.active) + #online {
    display: none;
}
