<p>under construction</p>
<form>
    <table>
        <tr *ngFor="let role of roles">
            <td *ngFor="let slot of [1, 2, 3]">
                <input type="radio" id="{{role}}_{{slot}}" name="{{role}}" [value]="slot" [(ngModel)]="model[role][0]">
                <label for="{{role}}_{{slot}}" (click)="click(role)">{{model[role][slot]}}</label>
            </td>
        </tr>
    </table>
    To contribute: <span *ngFor="let role of roles" [class]="role"> {{model[role][model[role][0]]}}</span>
</form>
<form>
    <div *ngFor="let role of roles">
        <table *ngFor="let slot of [1, 2, 3]">
            <tr *ngFor="let size of ['L', 'M', 'S']">
                <td *ngFor="let variety of ['D', 'S', 'C', 'T']">
                    <input type="radio" id="{{role}}_{{slot}}_{{size}}{{variety}}" name="{{role}}_{{slot}}"
                        value="{{size}}{{variety}}" [(ngModel)]="model[role][slot]">
                    <label for="{{role}}_{{slot}}_{{size}}{{variety}}" (click)="click(role)">{{size}}{{variety}}</label>
                </td>
            </tr>
        </table>
        <mat-checkbox>{{role}}</mat-checkbox>
    </div>
</form>