.decision {
    display: inline-grid;
    grid-template-columns: repeat(3, 48px);
}

.slot {
    display: inline-grid;
    grid-template-columns: repeat(4, 48px);
}

[mat-raised-button], mat-button-toggle-group {
    margin: 4px;
}
