.decision {
    display: inline-grid;
    grid-template-columns: repeat(3, 48px);
}

.slot {
    display: inline-grid;
    grid-template-columns: repeat(4, 48px);
}

[mat-raised-button], mat-button-toggle-group, mat-checkbox {
    margin: 4px;
}

.hidden {
    display: none;
}

.last-selection {
    margin-left: 32px;
}

.input {
    display: inline-block;
}

.leader {
    vertical-align: top;
}
