<select (change)="navigator.moveChart($event.target.value)">
  <option *ngFor="let entry of navigator.availableCharts" [value]="entry.chart.id">{{entry.chart.name}}</option>
</select><br>
<span *ngFor="let letter of navigator.currentNode.combination.split('')" style="font-size: xx-large">
  {{letter}}
</span><br>
<button *ngFor="let choice of navigator.currentChoices" (click)="navigator.moveNode(choice.id)">
  {{choice.matches}}
</button><br>
<img src="assets/charts/{{navigator.currentChart.image}}"><br>
