<div class="tool">
  <div class="letters">
    <span class="body" [class.active]="body.checked">{{
      navigator.currentNode.node.combination[0]
    }}</span>
    <span class="mech" [class.active]="mech.checked">{{
      navigator.currentNode.node.combination[1]
    }}</span>
    <span class="logic" [class.active]="logic.checked">{{
      navigator.currentNode.node.combination[2]
    }}</span>
  </div>
  <div class="checkboxes">
    <mat-checkbox #body>body</mat-checkbox>
    <mat-checkbox #mech>mech</mat-checkbox>
    <mat-checkbox #logic>logic</mat-checkbox>
  </div>
  <div class="buttons">
    <button
      [disabled]="!navigator.currentChoices[0]"
      (click)="navigator.moveNode(navigator.currentChoices[0].id)"
      (window:keydown.`)="navigator.moveNode(navigator.currentChoices[0].id)"
      (window:keydown.0)="navigator.moveNode(navigator.currentChoices[0].id)"
      mat-raised-button
      color="accent">{{
      0
      }}</button>
    <button
      [disabled]="!navigator.currentChoices[1]"
      (click)="navigator.moveNode(navigator.currentChoices[1].id)"
      (window:keydown.1)="navigator.moveNode(navigator.currentChoices[1].id)"
      mat-raised-button
      color="accent">{{
      1
      }}</button>
    <button
      [disabled]="!navigator.currentChoices[2]"
      (click)="navigator.moveNode(navigator.currentChoices[2].id)"
      (window:keydown.2)="navigator.moveNode(navigator.currentChoices[2].id)"
      mat-raised-button
      color="accent">{{
      2
      }}</button>
    <button
      [disabled]="!navigator.currentChoices[3]"
      (click)="navigator.moveNode(navigator.currentChoices[3].id)"
      (window:keydown.3)="navigator.moveNode(navigator.currentChoices[3].id)"
      mat-raised-button
      color="warn">{{
      3
      }}</button>
  </div>
</div>
<div class="chart chart-{{navigator.currentNode.chart.name}} node-{{navigator.currentNode.node.relative_id}}">
  <mat-form-field>
    <mat-label>Chart</mat-label>
    <mat-select (selectionChange)="navigator.moveChart($event.value)" [value]="navigator.currentChart.id">
      <mat-option *ngFor="let entry of navigator.availableCharts" [value]="entry.chart.id">{{entry.chart.title}}</mat-option>
    </mat-select>
  </mat-form-field>
  <ng-container [ngSwitch]="navigator.currentChart.name">
    <app-cbuchart *ngSwitchCase="'cbuchart'"></app-cbuchart>
    <app-cbuthraxisopt *ngSwitchCase="'cbuthraxisopt'"></app-cbuthraxisopt>
    <app-chart *ngSwitchCase="'chart'"></app-chart>
    <app-jnw *ngSwitchCase="'jnw'"></app-jnw>
    <app-twiddler-mim-code2 *ngSwitchCase="'twiddler_mim_code2'"></app-twiddler-mim-code2>
    <app-tso0112 *ngSwitchCase="'tso0112'"></app-tso0112>
  </ng-container>
</div>
