:host {
  display: table;
  margin: auto;
}

.tool {
  display: inline-block;
  vertical-align: top;
}

.checkboxes {
  display: inline-block;
  vertical-align: middle;
}

.checkboxes > * {
  display: block;
}

.buttons {
  display: inline-block;
  margin: auto 8px;
}

.letters {
  margin: 16px;
  font-size: xx-large;
}

.letters > .active {
  font-size: 1200%;
  line-height: .8;
}

.body.active {
  color: lightpink;
}

.mech.active {
  color: lightgreen;
}

.logic.active {
  color: lightblue;
}

.buttons, button, .letters > * {
  margin: 0 4px;
}

.chart {
  margin: 4px 0;
  display: inline-block;
}

.chart > * {
  display: block;
}

.info {
  position: absolute;
  white-space: pre;
}
