.letter {
  font-size: xx-large;
}

.letter.active {
  font-size: 1200%;
}

.letter.body.active {
  color: lightpink;
}

.letter.mech.active {
  color: lightgreen;
}

.letter.logic.active {
  color: lightblue;
}

button, .letter {
  margin: 0 4px;
}

img {
  max-width: 20%;
}
